<a href="https://colab.research.google.com/github/krisivarga/deep_learning_HW_big/blob/main/LSTM_Text_Class_tester.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
#download file from web

import requests, zipfile, io, os

zip_file_url = "http://groups.di.unipi.it/~gulli/newsspace200.xml.bz"

filename = zip_file_url.split("/")[-1]
with open(filename, "wb") as f:
    r = requests.get(zip_file_url)
    f.write(r.content)

In [34]:
#create data folder, decompress data

import bz2,shutil

dirName = 'data'
try:
    # Create target Directory
    os.mkdir(dirName)
    print("Directory " , dirName ,  " Created ") 
except FileExistsError:
    print("Directory " , dirName ,  " already exists")
    
    
with bz2.BZ2File("newsspace200.xml.bz") as fr, open("./data/input.xml","wb") as fw:
    shutil.copyfileobj(fr,fw)

Directory  data  already exists

In [35]:
import xml.etree.ElementTree as ET

tree = ET.parse("./data/input.xml")
root = tree.getroot()

titles = []
categories = []
descriptions = []
sources = []


for title in tree.findall('title'):
    titles.append(title.text)
    
for category in tree.findall('category'):
        categories.append(category.text)

for description in tree.findall('description'):
    descriptions.append(description.text)

for source in tree.findall('source'):
    sources.append(source.text)

In [36]:
import numpy as np

In [37]:
titles = np.array(titles).T
categories = np.array(categories).T
descriptions = np.array(descriptions).T
sources = np.array(sources).T

In [38]:
data = np.dstack((sources,titles,descriptions,categories)).reshape(len(titles),4)

In [39]:
import pandas as pd

df = pd.DataFrame(data)
df.columns = ['source','title', 'desc', 'cat']

In [40]:
#set number of categories to be selected
num_selected = 5
selected_cats = df['cat'].value_counts()[:num_selected].index.tolist()
df_selected = df.loc[df['cat'].isin(selected_cats)]

In [41]:
df_selected = df_selected.dropna()

In [42]:
!pip install sentencepiece
!pip install transformers
from transformers import XLNetTokenizer
from transformers import BertTokenizer
import re

regex = re.compile('^[a-zA-Z]{3,}$')

xltokenizer = XLNetTokenizer.from_pretrained("xlnet-base-cased")

btokenizer = BertTokenizer.from_pretrained("bert-base-uncased")

Requirement already satisfied: sentencepiece in /usr/local/lib/python3.7/dist-packages (0.1.96)
Requirement already satisfied: transformers in /usr/local/lib/python3.7/dist-packages (4.13.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2019.12.20)
Requirement already satisfied: huggingface-hub<1.0,>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.2.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.4.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (6.0)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.7/dist-packages (from transformers) (0.0.46)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (21.3)
Requirement already satisfied: tokenizers<0.11,>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.10.3)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers) (4.8.2)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.19.5)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.62.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub<1.0,>=0.1.0->transformers) (3.10.0.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->transformers) (3.0.6)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers) (3.6.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (7.1.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.15.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.1.0)

In [43]:
def tr(bt,reg,title,sz):
  a = bt.tokenize(title + " " + sz)
  r = []
  for s in a:
    if reg.match(s) is not None:     
      r.append(s)      
  return r

df_selected['berttoken'] = df_selected.apply(lambda row: tr(btokenizer, regex, str(row['title']), str(row['desc'])), axis=1)

In [44]:
def bertenc(bt,title,sz):
  text_to_encode = title + " " + sz
  a = bt.encode_plus(
            text_to_encode, 
            max_length= 64, 
            add_special_tokens=True,
            return_token_type_ids=False, 
            padding="max_length",
            truncation = True,
            return_attention_mask=False
        )
  ids = a['input_ids']  
  return ids

df_selected['bertencodeplus'] = df_selected.apply(lambda row: bertenc(btokenizer, str(row['title']), str(row['desc'])), axis=1)

In [45]:
bertencidvoc_dict = {}
bertvoc_dict = {}
def dict_creater(arr):
  for a in arr:
    if a != 0:
      if a in bertencidvoc_dict:
        count = bertencidvoc_dict[a] + 1
        bertencidvoc_dict.update({a:count})
      else:
        bertencidvoc_dict.update({a:1})
  return

def dict_creater2(arr):
  for a in arr:
    if a != 0:
      if a in bertvoc_dict:
        count = bertvoc_dict[a] + 1
        bertvoc_dict.update({a:count})
      else:
        bertvoc_dict.update({a:1})
  return

df_selected.apply(lambda row: dict_creater(row['bertencodeplus']), axis=1)

df_selected.apply(lambda row: dict_creater2(row['berttoken']), axis=1)

0         None
1         None
2         None
3         None
4         None
          ...
496829    None
496830    None
496831    None
496832    None
496833    None
Length: 324797, dtype: object

In [46]:
i = 0
category_dictionary = {}
cat_rev_dict= {}
for s in selected_cats:
  category_dictionary.update({i:s})
  cat_rev_dict.update({s:i})
  i = i + 1


df_selected['cat_enc'] = df_selected.apply(lambda row: cat_rev_dict[str(row['cat'])] , axis=1)

In [51]:
import tensorflow
from tensorflow import keras

In [49]:
!wget --no-check-certificate 'https://docs.google.com/uc?export=download&id=1dIsf_-kNjWo6vRtm_DPsbebZpZRhEzzd' -O 'best_LSTM_CONV1D_model.h5'

--2021-12-12 10:51:18--  https://docs.google.com/uc?export=download&id=1dIsf_-kNjWo6vRtm_DPsbebZpZRhEzzd
Resolving docs.google.com (docs.google.com)... 74.125.204.102, 74.125.204.139, 74.125.204.101, ...
Connecting to docs.google.com (docs.google.com)|74.125.204.102|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://doc-0k-68-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/6r46madb5o94vqgglcf244mf90vaae1s/1639306275000/16722052510491764536/*/1dIsf_-kNjWo6vRtm_DPsbebZpZRhEzzd?e=download [following]
Warning: wildcards not supported in HTTP.
--2021-12-12 10:51:19--  https://doc-0k-68-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/6r46madb5o94vqgglcf244mf90vaae1s/1639306275000/16722052510491764536/*/1dIsf_-kNjWo6vRtm_DPsbebZpZRhEzzd?e=download
Resolving doc-0k-68-docs.googleusercontent.com (doc-0k-68-docs.googleusercontent.com)... 142.250.157.132, 2404:6800:4008:c13::84
Connecting to doc-0k-68-docs.googleusercontent.com (doc-0k-68-docs.googleusercontent.com)|142.250.157.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 32282112 (31M) [application/octet-stream]
Saving to: ‘best_LSTM_CONV1D_model.h5’

best_LSTM_CONV1D_mo 100%[===================>]  30.79M   147MB/s    in 0.2s

2021-12-12 10:51:20 (147 MB/s) - ‘best_LSTM_CONV1D_model.h5’ saved [32282112/32282112]

In [50]:
best_model = keras.models.load_model("best_LSTM_CONV1D_model.h5")

WARNING:tensorflow:Error in loading the saved optimizer state. As a result, your model is starting with a freshly initialized optimizer.

WARNING:tensorflow:Error in loading the saved optimizer state. As a result, your model is starting with a freshly initialized optimizer.

In [53]:
best_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 64, 128)           2602496

 conv1d (Conv1D)             (None, 64, 10)            20490

 dropout (Dropout)           (None, 64, 10)            0

 lstm (LSTM)                 (None, 112)               55104

 dropout_1 (Dropout)         (None, 112)               0

 dense (Dense)               (None, 64)                7232

 dense_1 (Dense)             (None, 5)                 325

=================================================================
Total params: 2,685,647
Trainable params: 2,685,647
Non-trainable params: 0
_________________________________________________________________

In [54]:
test_articles = df_selected.sample(10)

In [55]:
test_articles

                       source  ... cat_enc
427714     Scotland on Sunday  ...       0
353401           Boston Globe  ...       1
130786         Tucson Citizen  ...       2
416112        Telegraph.co.uk  ...       2
445740  New York Times Movies  ...       1
452919                MLB.com  ...       2
402279         Soccer Central  ...       2
268608         Sports Network  ...       2
320498         CBS Sportsline  ...       2
478265                WNEP-TV  ...       4

[10 rows x 7 columns]

In [56]:
test_articles_x = np.array(test_articles["bertencodeplus"].values.tolist())

In [57]:
test_articles_y = test_articles['cat_enc'].to_numpy()

In [58]:
test_articles_preds = best_model.predict(test_articles_x)

In [59]:
classes_x=np.argmax(test_articles_preds,axis=1)

In [ ]:
classes_x

array([1, 2, 0, 2, 3, 3, 0, 0, 0, 1])

In [60]:
category_dictionary

{0: 'World', 1: 'Entertainment', 2: 'Sports', 3: 'Business', 4: 'Top Stories'}

In [61]:
examples = test_articles[["title", "desc", "cat"]]

In [62]:
examples["preds"] = classes_x

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [63]:
examples["preds"] = examples["preds"].apply(lambda x: category_dictionary.get(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [64]:
examples

                                                    title  ...          preds
427714            Aid Group Threatens Afghanistan Pullout  ...          World
353401          Advancing forces meet sporadic resistance  ...          World
130786           Han wins LPGA event in playoff over Kane  ...         Sports
416112     Hartson #39;s goal gives Celtic hope in Europe  ...         Sports
445740  Horror Minus Perspective in a Tale of the Holo...  ...  Entertainment
452919                         Padres make offer to Wells  ...         Sports
402279      Reid striker not enough as Rovers stay rooted  ...         Sports
268608  (Sports Network) - The Boston Red Sox are atte...  ...         Sports
320498  Johansson edges Agassi in tiebreak to win Stoc...  ...         Sports
478265               Obesity Drug Trials Get Good Results  ...  Entertainment

[10 rows x 4 columns]