<a href="https://colab.research.google.com/github/krisivarga/deep_learning_HW_big/blob/main/LSTM_Text_Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#download file from web

import requests, zipfile, io, os

zip_file_url = "http://groups.di.unipi.it/~gulli/newsspace200.xml.bz"

filename = zip_file_url.split("/")[-1]
with open(filename, "wb") as f:
    r = requests.get(zip_file_url)
    f.write(r.content)

In [2]:
#create data folder, decompress data

import bz2,shutil

dirName = 'data'
try:
    # Create target Directory
    os.mkdir(dirName)
    print("Directory " , dirName ,  " Created ") 
except FileExistsError:
    print("Directory " , dirName ,  " already exists")
    
    
with bz2.BZ2File("newsspace200.xml.bz") as fr, open("./data/input.xml","wb") as fw:
    shutil.copyfileobj(fr,fw)

Directory  data  already exists

In [3]:
import xml.etree.ElementTree as ET

tree = ET.parse("./data/input.xml")
root = tree.getroot()

titles = []
categories = []
descriptions = []
sources = []


for title in tree.findall('title'):
    titles.append(title.text)
    
for category in tree.findall('category'):
        categories.append(category.text)

for description in tree.findall('description'):
    descriptions.append(description.text)

for source in tree.findall('source'):
    sources.append(source.text)

In [4]:
import numpy as np

In [5]:
titles = np.array(titles).T
categories = np.array(categories).T
descriptions = np.array(descriptions).T
sources = np.array(sources).T

In [6]:
data = np.dstack((sources,titles,descriptions,categories)).reshape(len(titles),4)

In [7]:
data.shape

(496835, 4)

In [8]:
import pandas as pd

df = pd.DataFrame(data)
df.columns = ['source','title', 'desc', 'cat']

In [9]:
print(f"Total unique categories are: {len(df['cat'].value_counts())}")
print(f"Count of occurance of each category:")
df['cat'].value_counts()

Total unique categories are: 17
Count of occurance of each category:

World                                                                                                                                                                                       81456
Entertainment                                                                                                                                                                               70892
Sports                                                                                                                                                                                      62163
Business                                                                                                                                                                                    56656
Top Stories                                                                                                                                                                                 56045
Sci/Tech                                                                                                                                                                                    41194
Top News                                                                                                                                                                                    31917
Europe                                                                                                                                                                                      30905
Health                                                                                                                                                                                      19915
Italia                                                                                                                                                                                      13814
U.S.                                                                                                                                                                                        13770
Software and Developement                                                                                                                                                                    2739
Toons                                                                                                                                                                                        2150
Music Feeds                                                                                                                                                                                  1207
5                                                                                                                                                                                             106
The recent onslaught of hurricanes has prompted some media outlets to mention  quot;global warming quot; as a possible cause, but a team of climate researchers set the record straight.        1
ProEnglish, a national organization that wants to make English the official language of US government operations, is suing the Department of Health and Human Services over a                   1
Name: cat, dtype: int64

In [10]:
selected_cats = df['cat'].value_counts()[:5].index.tolist()
print(selected_cats)

df_selected = df.loc[df['cat'].isin(selected_cats)]

print(df_selected)

['World', 'Entertainment', 'Sports', 'Business', 'Top Stories']
                       source  ...       cat
0              Yahoo Business  ...  Business
1              Yahoo Business  ...  Business
2              Yahoo Business  ...  Business
3              Yahoo Business  ...  Business
4              Yahoo Business  ...  Business
...                       ...  ...       ...
496829  New York Times sports  ...    Sports
496830         BBC News world  ...     World
496831  New York Times sports  ...    Sports
496832         BBC News world  ...     World
496833  New York Times sports  ...    Sports

[327212 rows x 4 columns]

In [11]:
print(f"Total unique categories are: {len(df_selected['cat'].value_counts())}")
print(f"Count of occurance of each category:")
df_selected['cat'].value_counts()

Total unique categories are: 5
Count of occurance of each category:

World            81456
Entertainment    70892
Sports           62163
Business         56656
Top Stories      56045
Name: cat, dtype: int64

In [12]:
df_selected.isnull().sum()

source       0
title        0
desc      2415
cat          0
dtype: int64

In [13]:
df_selected = df_selected.dropna()

In [14]:
df_selected.isnull().sum()

source    0
title     0
desc      0
cat       0
dtype: int64

In [15]:
# Check of spaces in column headline - using enumerate
spaces = []
for i, x in enumerate(df_selected['title']):
    if type(x) == str:
        if x.isspace():
            spaces.append(i)
        
print(len(spaces), 'spaces in index: ', spaces)

0 spaces in index:  []

In [16]:
# Check of spaces in column short desc - using itertuples
blanks = []  # start with an empty list

for i,sou,tit,desc,cat in df_selected.itertuples():  # iterate over the DataFrame
    if type(desc)==str:            # avoid NaN values
        if desc.isspace():         # test 'review' for whitespace
            blanks.append(i)     # add matching index numbers to the list
        
print(len(blanks), 'blanks: ', blanks)

0 blanks:  []

Although it is part of the database, we are not going to use the 'source' field. When we print the value_counts for that field joined with the categories, it's obvious that the category can be found in the 'source' most of the time, which defeats the point of this homework.

In [17]:
print(df_selected['source'].value_counts())
print(df_selected.value_counts(subset=['source','cat'])[:30])
print(df_selected.value_counts(subset=['source','cat'])[100:130])

Reuters             15935
Yahoo World         11193
RedNova general      7855
Reuters Business     6897
Yahoo Sports         6850
                    ...
Joe Gibbs Racing        1
Gamespy.com             1
Strategy Page           1
Travel Channel          1
GoHuskies.com           1
Name: source, Length: 3053, dtype: int64
source                      cat
Yahoo World                 World            11193
RedNova general             World             7855
Reuters Business            Business          6897
Yahoo Sports                Sports            6850
Yahoo Entertainment         Entertainment     6741
Reuters World               World             6106
BBC News world              World             6038
Yahoo Politics              World             4586
New York Times sports       Sports            4361
Reuters                     Top Stories       3710
                            Business          3659
                            Entertainment     3547
Forbes                      Business          3346
Yahoo Business              Business          3053
Reuters Sports              Sports            3007
San Francisco Chronicle     Sports            2575
The Washington Post sports  Sports            2567
Reuters                     World             2548
                            Sports            2471
New York Times world        World             2469
The Motley Fool             Business          2196
The Washington Post world   World             2091
Reuters Entertainment       Entertainment     1984
New York Times Business     Business          1760
Boston Globe world          World             1735
Boston Globe business       Business          1735
Bloomberg                   Business          1718
Xinhua                      World             1655
ABC News                    Top Stories       1617
                            Entertainment     1562
dtype: int64
source                      cat
CNN International           Entertainment    533
ABC News                    Sports           532
Turkish Press               World            531
Canada.com                  Sports           529
Seattle Post Intelligencer  Top Stories      527
Washington Post             World            526
Seattle Post Intelligencer  Entertainment    525
Guardian                    Sports           522
Telegraph.co.uk             Sports           519
Independent                 Top Stories      518
                            World            518
Rediff Movies               Entertainment    503
Independent                 Entertainment    502
Houston Chronicle           Sports           486
Xinhua                      Sports           483
Reuters Life and Leisure    Entertainment    476
Houston Chronicle           Top Stories      475
CBC News                    Top Stories      468
Telegraph.co.uk             Top Stories      467
Houston Chronicle           Entertainment    466
Xinhua                      Business         466
Telegraph.co.uk             Entertainment    464
CBC News                    Entertainment    460
TSN.ca                      Sports           459
Boston Globe                World            458
USA Today                   Business         453
The Australian              World            446
Seattle Post Intelligencer  Sports           439
MLB.com                     Sports           431
Al-Jazeera                  World            428
dtype: int64

Next, we define tokenization and vocabulary building. We're using the WordPiece based BERT tokenizer from huggingface.co. We also tried the SentencePie based XLNetTokenizer, but the results weren't as good as with the BERT tokenizer. The methods that are defined here will be applied to every line of the dataframe.  
  
We decided on one method, which tokenizes the title and the description and after that, it removes the tokens that contain non-alphabet characters. We do this because some descriptions contain obviously unwanted characters, like '\\' (and as we can later see from the vocabulary "39" exists more than 149000 times in the text). We also remove any token that is less than 3 characters. We build the vocabualry from these tokens.  
    
The other method uses the encode_plus function which automatically encodes the tokens too. In the function parameters we set the maximum length to 512, set the padding to extend to the max length, added special tokens and didn't take the attention mask. Depending on what modles we use, we may later need to change those settings (for example if we use BERT or XLNet models). We created a vocabulary based on the tokens too.  
  
The vocabularies can contain data multiple times, because we can see the number of appearance of tokens in the text that way if we use the value_counts function.

In [18]:
!pip install sentencepiece
!pip install transformers
from transformers import XLNetTokenizer
from transformers import BertTokenizer
import re

regex = re.compile('^[a-zA-Z]{3,}$')

xltokenizer = XLNetTokenizer.from_pretrained("xlnet-base-cased")

btokenizer = BertTokenizer.from_pretrained("bert-base-uncased")

Requirement already satisfied: sentencepiece in /usr/local/lib/python3.7/dist-packages (0.1.96)
Requirement already satisfied: transformers in /usr/local/lib/python3.7/dist-packages (4.13.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers) (4.8.2)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2019.12.20)
Requirement already satisfied: tokenizers<0.11,>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.10.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.62.3)
Requirement already satisfied: huggingface-hub<1.0,>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.2.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (21.3)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (6.0)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.7/dist-packages (from transformers) (0.0.46)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.4.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.19.5)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub<1.0,>=0.1.0->transformers) (3.10.0.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->transformers) (3.0.6)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers) (3.6.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (7.1.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.15.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.1.0)

In [19]:
def tr(bt,reg,title,sz):
  a = bt.tokenize(title + " " + sz)
  r = []
  for s in a:
    if reg.match(s) is not None:     
      r.append(s)      
  return r

df_selected['berttoken'] = df_selected.apply(lambda row: tr(btokenizer, regex, str(row['title']), str(row['desc'])), axis=1)
df_selected

                       source  ...                                          berttoken
0              Yahoo Business  ...  [wall, pull, reflects, tech, blow, reuters, re...
1              Yahoo Business  ...  [wall, bears, claw, back, into, the, black, re...
2              Yahoo Business  ...  [carly, looks, toward, commercial, aerospace, ...
3              Yahoo Business  ...  [oil, and, economy, cloud, stocks, outlook, re...
4              Yahoo Business  ...  [iraq, halt, oil, exports, from, main, souther...
...                       ...  ...                                                ...
496829  New York Times sports  ...  [high, priority, list, home, improvement, doc,...
496830         BBC News world  ...  [compromise, seals, climate, meeting, climate,...
496831  New York Times sports  ...  [enjoying, his, point, view, howard, has, fond...
496832         BBC News world  ...  [iraqi, judges, quiz, chemical, ali, ali, hass...
496833  New York Times sports  ...  [nets, get, carter, from, rap, indianapolis, a...

[324797 rows x 5 columns]

In [20]:
def bertenc(bt,title,sz):
  text_to_encode = title + " " + sz
  a = bt.encode_plus(
            text_to_encode, 
            max_length= 64, 
            add_special_tokens=True,
            return_token_type_ids=False, 
            padding="max_length",
            truncation = True,
            return_attention_mask=False
        )
  ids = a['input_ids']  
  return ids

df_selected['bertencodeplus'] = df_selected.apply(lambda row: bertenc(btokenizer, str(row['title']), str(row['desc'])), axis=1)

df_selected

                       source  ...                                     bertencodeplus
0              Yahoo Business  ...  [101, 2813, 2358, 1012, 4139, 5963, 11138, 662...
1              Yahoo Business  ...  [101, 2813, 2358, 1012, 6468, 15020, 2067, 204...
2              Yahoo Business  ...  [101, 18431, 2571, 3504, 2646, 3293, 13395, 10...
3              Yahoo Business  ...  [101, 3514, 1998, 4610, 6112, 15768, 1005, 176...
4              Yahoo Business  ...  [101, 5712, 9190, 2015, 3514, 14338, 2013, 236...
...                       ...  ...                                                ...
496829  New York Times sports  ...  [101, 2152, 2006, 9470, 2862, 1024, 2188, 7620...
496830         BBC News world  ...  [101, 12014, 13945, 4785, 3116, 1037, 4785, 30...
496831  New York Times sports  ...  [101, 1041, 2483, 3051, 9107, 2010, 2391, 1997...
496832         BBC News world  ...  [101, 8956, 6794, 19461, 1005, 5072, 4862, 100...
496833  New York Times sports  ...  [101, 16996, 2131, 5708, 2013, 9680, 6591, 950...

[324797 rows x 6 columns]

Here we can see the result of the encoded vocabulary with the token values.

In [21]:
bertencidvoc_dict = {}
bertvoc_dict = {}
def dict_creater(arr):
  for a in arr:
    if a != 0:
      if a in bertencidvoc_dict:
        count = bertencidvoc_dict[a] + 1
        bertencidvoc_dict.update({a:count})
      else:
        bertencidvoc_dict.update({a:1})
  return

def dict_creater2(arr):
  for a in arr:
    if a != 0:
      if a in bertvoc_dict:
        count = bertvoc_dict[a] + 1
        bertvoc_dict.update({a:count})
      else:
        bertvoc_dict.update({a:1})
  return

df_selected.apply(lambda row: dict_creater(row['bertencodeplus']), axis=1)

df_selected.apply(lambda row: dict_creater2(row['berttoken']), axis=1)

bertvoc_dict

{'wall': 3388,
 'pull': 1820,
 'reflects': 134,
 'tech': 1682,
 'blow': 1375,
 'reuters': 39445,
 'street': 3845,
 'long': 6772,
 'playing': 1529,
 'drama': 900,
 'waiting': 835,
 'for': 133895,
 'google': 2773,
 'about': 17594,
 'reach': 2367,
 'its': 43224,
 'final': 8332,
 'act': 1249,
 'but': 23801,
 'stock': 4308,
 'market': 6782,
 'debut': 1434,
 'ending': 1714,
 'more': 23353,
 'nostalgia': 30,
 'event': 1675,
 'than': 17414,
 'the': 570053,
 'catalyst': 27,
 'new': 50937,
 'era': 1154,
 'bears': 783,
 'claw': 42,
 'back': 12031,
 'into': 17641,
 'black': 2809,
 'short': 2838,
 'sellers': 76,
 'band': 1291,
 'ultra': 120,
 'are': 23633,
 'seeing': 321,
 'green': 2510,
 'again': 4971,
 'carly': 126,
 'looks': 1331,
 'toward': 2296,
 'commercial': 987,
 'aerospace': 174,
 'private': 1859,
 'investment': 1591,
 'firm': 3156,
 'group': 12423,
 'which': 11381,
 'has': 51516,
 'reputation': 369,
 'making': 3040,
 'well': 3024,
 'timed': 71,
 'and': 184938,
 'occasionally': 50,
 'controversial': 1527,
 'plays': 905,
 'defense': 4241,
 'industry': 3833,
 'quietly': 247,
 'placed': 666,
 'bets': 164,
 'another': 6804,
 'part': 4172,
 'oil': 21066,
 'economy': 4226,
 'cloud': 420,
 'stocks': 9797,
 'outlook': 1588,
 'soaring': 567,
 'crude': 4382,
 'prices': 12114,
 'plus': 462,
 'worries': 1205,
 'earnings': 3765,
 'expected': 6437,
 'hang': 282,
 'over': 33350,
 'next': 11233,
 'week': 14635,
 'during': 7696,
 'depth': 136,
 'summer': 1585,
 'iraq': 29569,
 'halt': 1523,
 'exports': 1032,
 'from': 47928,
 'main': 2111,
 'southern': 3986,
 'pipeline': 746,
 'authorities': 2851,
 'have': 30499,
 'halted': 343,
 'export': 1155,
 'flows': 118,
 'after': 45914,
 'intelligence': 2681,
 'showed': 2527,
 'rebel': 3612,
 'militia': 1331,
 'could': 11964,
 'strike': 4123,
 'infrastructure': 216,
 'official': 6150,
 'said': 54886,
 'saturday': 13661,
 'all': 12534,
 'time': 14367,
 'record': 9725,
 'posing': 94,
 'menace': 80,
 'tear': 363,
 'world': 22570,
 'top': 11993,
 'records': 1216,
 'straining': 37,
 'wallet': 89,
 'present': 522,
 'economic': 4241,
 'barely': 427,
 'three': 17241,
 'months': 4998,
 'before': 8753,
 'presidential': 7719,
 'elections': 4802,
 'end': 9618,
 'near': 6279,
 'year': 24224,
 'low': 3745,
 'ended': 2506,
 'slightly': 1039,
 'higher': 4330,
 'friday': 20005,
 'stayed': 298,
 'surged': 708,
 'past': 4277,
 'barrel': 2904,
 'offset': 498,
 'positive': 1194,
 'computer': 3160,
 'maker': 3997,
 'dell': 593,
 'inc': 10910,
 'money': 2598,
 'funds': 1202,
 'fell': 3222,
 'latest': 3964,
 'assets': 760,
 'nation': 5031,
 'retail': 1373,
 'mutual': 599,
 'billion': 7589,
 'trillion': 182,
 'company': 12440,
 'institute': 278,
 'thursday': 19465,
 'fed': 1961,
 'minutes': 1547,
 'show': 4990,
 'dissent': 79,
 'inflation': 1141,
 'usa': 1254,
 'com': 7212,
 'sales': 6349,
 'bounced': 200,
 'bit': 702,
 'july': 1007,
 'claims': 3054,
 'job': 3819,
 'benefits': 806,
 'last': 18325,
 'government': 15064,
 'indicating': 171,
 'improving': 411,
 'midsummer': 14,
 'slump': 518,
 'safety': 1747,
 'net': 2184,
 'forbes': 443,
 'earning': 146,
 'sociology': 2,
 'danny': 354,
 'riley': 118,
 'started': 1315,
 'work': 3806,
 'general': 6022,
 'manager': 3281,
 'real': 3215,
 'estate': 512,
 'annual': 1934,
 'base': 1418,
 'salary': 235,
 'soon': 2002,
 'financial': 3037,
 'planner': 25,
 'stopped': 603,
 'his': 53739,
 'desk': 121,
 'drop': 2115,
 'off': 13050,
 'bro': 645,
 'insurance': 2383,
 'available': 721,
 'through': 5954,
 'employer': 144,
 'buying': 889,
 'was': 45134,
 'fur': 315,
 'thing': 871,
 'mind': 652,
 'says': 16122,
 'uprising': 434,
 'keeps': 868,
 'hal': 562,
 'baghdad': 10634,
 'were': 19481,
 'still': 6334,
 'running': 2610,
 'half': 4208,
 'their': 27325,
 'normal': 419,
 'rate': 2565,
 'sunday': 16483,
 'instability': 68,
 'due': 2691,
 'anti': 4927,
 'prevented': 168,
 'opening': 2666,
 'feeding': 125,
 'country': 10042,
 'terminals': 55,
 'gulf': 1435,
 'york': 17575,
 'retire': 873,
 'march': 1248,
 'london': 7264,
 'chief': 7890,
 'officer': 1552,
 'john': 10397,
 'set': 8982,
 'when': 13887,
 'turns': 919,
 'need': 1855,
 'pump': 159,
 'iran': 7114,
 'gov': 756,
 'tehran': 1398,
 'can': 8447,
 'nothing': 1064,
 'markets': 1761,
 'already': 2087,
 'overs': 402,
 'million': 12707,
 'barrels': 400,
 'per': 4632,
 'day': 13749,
 'governor': 1228,
 'warning': 2027,
 'that': 73026,
 'fall': 9191,
 'sharply': 1132,
 'non': 1135,
 'nations': 5397,
 'should': 4321,
 'output': 1111,
 'jakarta': 1378,
 'consider': 1074,
 'increasing': 644,
 'cool': 686,
 'president': 26031,
 'auction': 1145,
 'rocky': 152,
 'start': 5205,
 'washington': 10502,
 'highly': 445,
 'anticipated': 523,
 'initial': 943,
 'public': 4092,
 'offering': 1313,
 'got': 2675,
 'web': 2375,
 'search': 3292,
 'sides': 908,
 'bullet': 197,
 'securities': 1168,
 'regulators': 1307,
 'dollar': 4882,
 'falls': 1227,
 'broadly': 70,
 'trade': 5532,
 'gap': 575,
 'tumbled': 277,
 'data': 2862,
 'showing': 1163,
 'deficit': 1584,
 'june': 769,
 'cast': 1015,
 'fresh': 1983,
 'doubts': 515,
 'recovery': 1009,
 'ability': 541,
 'draw': 1529,
 'foreign': 5541,
 'capital': 4345,
 'fund': 1978,
 'growing': 1908,
 'rescuing': 54,
 'old': 7047,
 'save': 1668,
 'you': 6533,
 'think': 1288,
 'may': 11720,
 'help': 5445,
 'your': 3051,
 'elderly': 328,
 'relatives': 553,
 'with': 71367,
 'finances': 172,
 'don': 2134,
 'shy': 259,
 'having': 1491,
 'talk': 1708,
 'kids': 438,
 'rule': 1403,
 'school': 4214,
 'purchasing': 58,
 'power': 3801,
 'big': 7368,
 'why': 1413,
 'season': 10853,
 'become': 2751,
 'such': 2500,
 'huge': 1505,
 'marketing': 540,
 'phenomenon': 61,
 'down': 10311,
 'head': 5312,
 'value': 719,
 'there': 7031,
 'little': 3167,
 'cause': 1249,
 'celebration': 348,
 'these': 1030,
 'days': 6104,
 'investors': 3390,
 'focused': 447,
 'reason': 777,
 'feel': 659,
 'smug': 208,
 'only': 5345,
 'because': 4920,
 'they': 16929,
 'lost': 2937,
 'less': 2253,
 'folks': 152,
 'who': 21692,
 'stuck': 286,
 'growth': 4270,
 'swell': 98,
 'exploded': 1439,
 'costs': 2394,
 'drove': 628,
 'imports': 498,
 'according': 5790,
 'figures': 1138,
 'jump': 1157,
 'high': 9615,
 'price': 3674,
 'reaches': 665,
 'levels': 921,
 'amid': 3319,
 'concerns': 2164,
 'possible': 2920,
 'unrest': 549,
 'venezuela': 769,
 'threat': 2664,
 'sabotage': 220,
 'shell': 817,
 'target': 5109,
 'total': 1153,
 'giant': 4158,
 'bracing': 136,
 'itself': 791,
 'takeover': 2058,
 'attempt': 1874,
 'possibly': 560,
 'french': 5253,
 'rival': 3138,
 'press': 5181,
 'report': 8005,
 'faces': 2149,
 'playboy': 80,
 'slip': 525,
 'bidding': 316,
 'gets': 2972,
 'underway': 278,
 'despite': 4792,
 'minute': 1164,
 'interview': 1066,
 'bosses': 132,
 'magazine': 805,
 'euro': 2349,
 'continues': 1433,
 'grow': 603,
 'warnings': 686,
 'slow': 1806,
 'later': 1603,
 'swat': 234,
 'dismiss': 411,
 'tax': 3025,
 'allegations': 1226,
 'swiss': 811,
 'watch': 2972,
 'athens': 5139,
 'olympics': 2657,
 'denies': 820,
 'customs': 95,
 'duty': 478,
 'eva': 159,
 'expansion': 714,
 'japan': 7151,
 'experiences': 64,
 'domestic': 1148,
 'corporate': 1653,
 'spending': 1639,
 'rand': 158,
 'shock': 963,
 'cut': 5015,
 'interest': 2659,
 'rates': 2569,
 'trimmed': 68,
 'south': 7730,
 'african': 3012,
 'central': 4129,
 'bank': 6849,
 'lack': 968,
 'hits': 2779,
 'surprises': 195,
 'car': 6873,
 'across': 2995,
 'board': 3179,
 'cost': 2489,
 'both': 3452,
 'second': 12550,
 'hand': 2391,
 'cars': 905,
 'five': 8284,
 'years': 12527,
 'survey': 1349,
 'found': 5377,
 'korea': 4926,
 'lowers': 193,
 'cuts': 2564,
 'quarter': 7118,
 'percentage': 282,
 'point': 2523,
 'bid': 6470,
 'drive': 1548,
 'begins': 1330,
 'shares': 5149,
 'engine': 731,
 'floated': 60,
 'much': 3966,
 'takes': 2950,
 'place': 3356,
 'tumble': 310,
 'profit': 5880,
 'news': 10006,
 'packard': 230,
 'disappointing': 662,
 'third': 9551,
 'profits': 1943,
 'while': 6801,
 'warns': 1429,
 'will': 33595,
 'also': 2888,
 'expectations': 1350,
 'textile': 237,
 'jobs': 3823,
 'one': 22545,
 'oldest': 276,
 'operators': 269,
 'indian': 2735,
 'ocean': 430,
 'island': 1968,
 'mauritius': 7,
 'shut': 1385,
 'seven': 4881,
 'factories': 330,
 'chad': 452,
 'seeks': 1695,
 'refugee': 1051,
 'aid': 3726,
 'asks': 677,
 'loan': 467,
 'pay': 4407,
 'looking': 1889,
 'refugees': 607,
 'conflict': 1342,
 'torn': 820,
 'dar': 5511,
 'western': 2955,
 'sudan': 4896,
 'wal': 1425,
 'mart': 1459,
 'appeal': 1415,
 'sex': 1848,
 'bias': 98,
 'case': 4773,
 'largest': 5488,
 'retailer': 1354,
 'been': 16718,
 'given': 1900,
 'right': 4446,
 'judge': 3726,
 'order': 1734,
 'giving': 1531,
 'ahead': 5201,
 'discrimination': 129,
 'lawsuit': 1358,
 'heavy': 1659,
 'competition': 1633,
 'toys': 303,
 'sell': 2296,
 'babies': 157,
 'unit': 2290,
 'being': 6174,
 'hit': 7724,
 'intense': 395,
 'chains': 132,
 'nuclear': 8245,
 'plants': 340,
 'japanese': 3300,
 'plant': 1064,
 'fatal': 435,
 'accident': 748,
 'close': 3873,
 'reactors': 32,
 'checks': 310,
 'merger': 1448,
 'forms': 132,
 'biggest': 4341,
 'mitsubishi': 212,
 'tokyo': 3118,
 'signs': 1629,
 'deal': 8797,
 'take': 7332,
 'troubled': 1264,
 'holdings': 709,
 'forming': 122,
 'veteran': 1004,
 'inventor': 687,
 'float': 154,
 'trevor': 40,
 'bay': 2230,
 'famous': 720,
 'creating': 496,
 'free': 4624,
 'clock': 312,
 'radio': 2071,
 'planning': 962,
 'fears': 2187,
 'pension': 833,
 'talks': 9764,
 'unions': 985,
 'representing': 312,
 'workers': 4478,
 'turner': 233,
 'say': 6713,
 'disappointed': 317,
 'stricken': 238,
 'parent': 528,
 'federal': 6573,
 'saudi': 1861,
 'arabia': 875,
 'open': 7515,
 'taps': 147,
 'ready': 2456,
 'push': 1666,
 'extra': 1333,
 'reverse': 241,
 'sur': 746,
 'phone': 2040,
 'sector': 925,
 'lift': 1168,
 'led': 4469,
 'uae': 193,
 'plans': 6159,
 'spend': 621,
 'winning': 3499,
 'two': 30211,
 'mobile': 1950,
 'licence': 69,
 'indians': 519,
 'fill': 430,
 'rail': 331,
 'skills': 161,
 'shortage': 726,
 'network': 5348,
 'flies': 224,
 'specialist': 198,
 'engineers': 336,
 'west': 6768,
 'coast': 3477,
 'mainline': 4,
 'cai': 77,
 'energy': 2960,
 'drill': 64,
 'nepal': 1029,
 'british': 9962,
 'gas': 2525,
 'signed': 2137,
 'explore': 145,
 'drilling': 78,
 'areas': 999,
 'himalayan': 135,
 'kingdom': 327,
 'hotel': 1527,
 'icon': 422,
 'guides': 80,
 'empire': 333,
 'chooses': 67,
 'carpets': 11,
 'willard': 7,
 'marriott': 196,
 'popped': 33,
 'boston': 4689,
 'recently': 1021,
 'opportunity': 637,
 'most': 9237,
 'recognizable': 33,
 'names': 905,
 'business': 5750,
 'knows': 427,
 'best': 4688,
 'hotels': 474,
 'conference': 2666,
 'room': 944,
 'cop': 260,
 'plaza': 56,
 'chairman': 2776,
 'namesake': 67,
 'international': 8786,
 'chain': 928,
 'spoke': 862,
 'globe': 539,
 'reporter': 896,
 'keith': 226,
 'reed': 103,
 'steady': 600,
 'bedford': 40,
 'scientists': 1782,
 'hope': 2048,
 'experimental': 253,
 'drugs': 2174,
 'cure': 258,
 'heart': 3699,
 'disease': 1686,
 'someday': 55,
 'lately': 119,
 'focus': 1428,
 'mundane': 27,
 'matters': 162,
 'type': 339,
 'confusing': 52,
 'secrecy': 70,
 'submitted': 206,
 'buy': 4515,
 'style': 888,
 'turn': 2034,
 'out': 21783,
 'good': 3790,
 'bad': 1766,
 'bargain': 319,
 'hunter': 241,
 'paradise': 85,
 'massachusetts': 545,
 'hunters': 226,
 'shop': 842,
 'hard': 2369,
 'yesterday': 20060,
 'holiday': 1810,
 'everything': 532,
 'tread': 67,
 'snow': 792,
 'candles': 76,
 'chan': 142,
 'credit': 1276,
 'percent': 8773,
 'break': 1608,
 'bringing': 820,
 'them': 5731,
 'stores': 1660,
 'researchers': 1179,
 'seek': 1509,
 'mail': 1100,
 'thread': 47,
 'victim': 567,
 'own': 2590,
 'success': 1284,
 'conclusion': 197,
 'ibm': 2096,
 'corp': 7823,
 'cambridge': 114,
 'spent': 1033,
 'nearly': 4042,
 'decade': 1209,
 'conducting': 157,
 'field': 2720,
 'tests': 1364,
 'other': 7198,
 'companies': 3316,
 'how': 3785,
 'employees': 1192,
 'use': 2449,
 'electronic': 427,
 'clear': 1939,
 'internet': 3429,
 'killer': 577,
 'application': 285,
 'microsoft': 4711,
 'kind': 753,
 'culture': 406,
 'even': 4728,
 'genius': 90,
 'mess': 271,
 'bill': 4326,
 'gates': 580,
 'brilliant': 186,
 'techno': 20,
 'guided': 127,
 'great': 2406,
 'size': 522,
 'historical': 139,
 'consequence': 48,
 'blu': 802,
 'terror': 3791,
 'under': 8699,
 'temper': 105,
 'parcel': 241,
 'praise': 345,
 'like': 4762,
 'gave': 2274,
 'charity': 508,
 'lash': 137,
 'inspired': 313,
 'necessary': 305,
 'aggressive': 333,
 'beat': 4216,
 'thought': 1152,
 'letters': 135,
 'abuse': 1866,
 'legal': 2135,
 'weapons': 3435,
 'share': 2910,
 'outrage': 206,
 'expressed': 826,
 'columnist': 142,
 'steve': 1048,
 'bailey': 71,
 'quo': 36315,
 'aug': 1876,
 'killings': 318,
 'city': 11352,
 'poor': 1477,
 'neighborhoods': 77,
 'ignorance': 30,
 'argues': 53,
 'renewal': 52,
 'called': 4400,
 'assault': 1954,
 'weapon': 310,
 'ban': 2844,
 'claiming': 803,
 'otherwise': 167,
 'flooding': 399,
 'streets': 1032,
 'retailers': 749,
 'try': 2004,
 'meet': 2911,
 'budget': 1132,
 'needs': 1061,
 'apparel': 167,
 'hoping': 907,
 'fashion': 944,
 'make': 5979,
 'grade': 319,
 'among': 2898,
 'conscious': 59,
 'teens': 140,
 'young': 2639,
 'adults': 305,
 'this': 21114,
 'tough': 1974,
 'students': 852,
 'parents': 640,
 'keeping': 714,
 'tighter': 105,
 'hold': 2837,
 'bandage': 18,
 'grid': 189,
 'vulnerable': 229,
 'since': 6040,
 'blackout': 55,
 'history': 3066,
 'utilities': 65,
 'fixed': 181,
 'many': 4956,
 'problems': 1642,
 'contributed': 160,
 'breakdown': 99,
 'haven': 418,
 'resolved': 202,
 'larger': 456,
 'issues': 1673,
 'lead': 8213,
 'future': 2733,
 'officials': 11089,
 'specialists': 83,
 'checking': 157,
 'too': 2693,
 'often': 829,
 'wasted': 95,
 'effort': 1771,
 'larry': 586,
 'scott': 1322,
 'ari': 658,
 'trying': 2269,
 'compliment': 27,
 'writing': 235,
 'reads': 69,
 'column': 275,
 'every': 1591,
 'see': 2504,
 'doing': 747,
 'post': 3347,
 'bankruptcy': 2305,
 'strategy': 827,
 'tackle': 562,
 'debts': 230,
 'stabilize': 141,
 'wife': 1609,
 'she': 5544,
 'declared': 1199,
 'ago': 4633,
 'her': 10774,
 'name': 1954,
 'did': 3080,
 'able': 956,
 'house': 6111,
 'adjustable': 6,
 'mortgage': 1440,
 'result': 1323,
 'our': 1526,
 'somewhere': 99,
 'between': 7007,
 'gleam': 5,
 'gloom': 226,
 'bush': 22098,
 'saying': 3480,
 'turned': 1958,
 'corner': 312,
 'democratic': 3550,
 'candidate': 1936,
 'senator': 1155,
 'kerry': 10450,
 'wake': 1101,
 'month': 7952,
 'qui': 224,
 'technology': 2728,
 'sue': 1196,
 'marlborough': 8,
 'based': 3229,
 'sui': 458,
 'former': 10785,
 'including': 4532,
 'senior': 2934,
 'managers': 524,
 'allegedly': 951,
 'con': 2399,
 'against': 18830,
 'working': 1707,
 'competing': 293,
 'grant': 373,
 'lynn': 125,
 'square': 846,
 'brighter': 49,
 'sidewalks': 33,
 'curb': 678,
 'fences': 46,
 'lights': 431,
 'landscaping': 2,
 'road': 1873,
 'improvements': 98,
 'planned': 1878,
 'gateway': 140,
 'art': 1058,
 'block': 931,
 'key': 4632,
 'area': 2102,
 'state': 11805,
 'gives': 1384,
 'salem': 87,
 'chapter': 505,
 'flame': 54,
 'gary': 712,
 'win': 12541,
 'global': 3690,
 'crossing': 294,
 'ref': 847,
 'attention': 825,
 'what': 7215,
 'knew': 581,
 'imp': 1003,
 'russia': 5709,
 'super': 1978,
 'flex': 108,
 'muscles': 107,
 'emerging': 323,
 'switching': 77,
 'titles': 412,
 'not': 20462,
 'gears': 88,
 'kevin': 1016,
 'rollins': 23,
 'executive': 3747,
 'transit': 81,
 'customer': 296,
 'service': 3952,
 'sees': 1472,
 'broader': 183,
 'taking': 3285,
 'sale': 1981,
 'ultimate': 207,
 'status': 653,
 'symbol': 302,
 'cash': 2192,
 'rich': 1094,
 'people': 16456,
 'dying': 251,
 'wealth': 191,
 'stein': 104,
 'proposes': 158,
 'unique': 211,
 'solution': 499,
 'nobility': 2,
 'donated': 51,
 'dollars': 1776,
 'penn': 689,
 'nonprofit': 62,
 'organizations': 280,
 'used': 3305,
 'professional': 460,
 'raise': 1664,
 'losing': 1427,
 'bulk': 102,
 'donations': 103,
 'fee': 237,
 'wants': 2404,
 'isle': 59,
 'cap': 1045,
 'ant': 306,
 'casino': 557,
 'operator': 683,
 'posts': 969,
 'construction': 631,
 'wanted': 1655,
 'mixed': 1045,
 'blue': 1829,
 'lays': 102,
 'plan': 6385,
 'add': 744,
 'ignore': 105,
 'lend': 404,
 'banks': 1213,
 'let': 1508,
 'get': 6163,
 'away': 3210,
 'lot': 890,
 'quality': 300,
 'swept': 520,
 'distribution': 270,
 'hammered': 148,
 'reporting': 499,
 'large': 1537,
 'loss': 3939,
 'digital': 1149,
 'video': 3604,
 'apple': 1429,
 'avid': 21,
 'adobe': 111,
 'leading': 3336,
 'actors': 234,
 'stage': 1895,
 ...}

We encoded the categories with numbers, so they're easier to work with.

In [22]:
i = 0
category_dictionary = {}
cat_rev_dict= {}
for s in selected_cats:
  category_dictionary.update({i:s})
  cat_rev_dict.update({s:i})
  i = i + 1
print(category_dictionary)

df_selected['cat_enc'] = df_selected.apply(lambda row: cat_rev_dict[str(row['cat'])] , axis=1)
df_selected

{0: 'World', 1: 'Entertainment', 2: 'Sports', 3: 'Business', 4: 'Top Stories'}

                       source  ... cat_enc
0              Yahoo Business  ...       3
1              Yahoo Business  ...       3
2              Yahoo Business  ...       3
3              Yahoo Business  ...       3
4              Yahoo Business  ...       3
...                       ...  ...     ...
496829  New York Times sports  ...       2
496830         BBC News world  ...       0
496831  New York Times sports  ...       2
496832         BBC News world  ...       0
496833  New York Times sports  ...       2

[324797 rows x 7 columns]

In [23]:
# Since the goal of this exercise if to identify category based on headline and short description, 
# we choose to merge them, as the vectorizer functions can't process multiple columns

#df_selected['joined'] = df_selected.apply(lambda row: " ".join(row['berttoken']) , axis=1)
X = np.array(df_selected["bertencodeplus"].values.tolist())
#X = df_selected['bertencodeplus'].to_numpy()
y = df_selected['cat_enc'].to_numpy()

In [24]:
X

array([[  101,  2813,  2358, ...,  3690,  1012,   102],
       [  101,  2813,  2358, ...,     0,     0,     0],
       [  101, 18431,  2571, ...,     0,     0,     0],
       ...,
       [  101,  1041,  2483, ...,     0,     0,     0],
       [  101,  8956,  6794, ...,     0,     0,     0],
       [  101, 16996,  2131, ...,     0,     0,     0]])

In [25]:
y

array([3, 3, 3, ..., 2, 0, 2])

In [26]:
#X.describe()
len(X[0])

64

In [27]:
from sklearn.model_selection import train_test_split

# Split the data into 70-30 i.e. test size of 30% to check the accuracy of the training
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42, shuffle = True)

X_test, X_valid, y_test, y_valid = train_test_split(X_test, y_test, test_size=0.25, random_state=42, shuffle = True)

#Let's check the shape of the splitted data
print(f"Training Data Shape: {X_train.shape}")
print(f"Testing Data Shape: {X_test.shape}")

Training Data Shape: (292317, 64)
Testing Data Shape: (24360, 64)

In [28]:
import tensorflow
from tensorflow import keras
from keras import Sequential
from tensorflow.keras.utils import to_categorical
from keras.layers import Embedding, LSTM, Dropout, Dense, SpatialDropout1D, Conv1D, MaxPooling1D

In [29]:
Y_train = to_categorical(y_train, num_classes=5, dtype='float32')
Y_test = to_categorical(y_test, num_classes=5, dtype='float32')
Y_valid = to_categorical(y_valid, num_classes=5, dtype='float32')

In [59]:
model=Sequential()
model.add(Embedding(len(bertvoc_dict),128,input_length=64))
model.add(Conv1D(filters=8, kernel_size=16, padding='same', activation='relu'))
model.add(Dropout(0.2))
model.add(LSTM(64))
model.add(Dropout(0.5))
model.add(Dense(32, activation='relu'))
model.add(Dense(5, activation='softmax'))
opt = keras.optimizers.Adam(learning_rate=0.0001)
model.compile(loss='categorical_crossentropy', optimizer=opt, metrics=['accuracy'])

print(model.summary())

Model: "sequential_10"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_10 (Embedding)    (None, 64, 128)           2602496

 conv1d_10 (Conv1D)          (None, 64, 8)             16392

 dropout_14 (Dropout)        (None, 64, 8)             0

 lstm_10 (LSTM)              (None, 64)                18688

 dropout_15 (Dropout)        (None, 64)                0

 dense_20 (Dense)            (None, 32)                2080

 dense_21 (Dense)            (None, 5)                 165

=================================================================
Total params: 2,639,821
Trainable params: 2,639,821
Non-trainable params: 0
_________________________________________________________________
None

In [61]:
model.fit(X_train,Y_train,validation_data=(X_test,Y_test),epochs=10,batch_size=32)

Epoch 1/10
2655/9135 [=======>......................] - ETA: 51s - loss: 0.5758 - accuracy: 0.7093

KeyboardInterrupt: ignored

In [62]:
model.evaluate(X_valid,Y_valid)

254/254 [==============================] - 1s 4ms/step - loss: 0.8721 - accuracy: 0.6511

[0.8720824122428894, 0.6511083841323853]